---
import BaseHead from "../components/BaseHead.astro";
import { PageHeader } from "../components/PageHeader";
import Footer from "../components/Footer.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
import "../styles/tailwind.css";

let title = "ryanmr blog";
let description = "the blog for ryan rampersad";

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob("./posts/**/*.mdx");
const posts = unsortedPosts.sort((a, b) => {
  const updatedA = a.frontmatter.updatedDates?.[0];
  const updatedB = b.frontmatter.updatedDates?.[0];
  const dateA = updatedA
    ? new Date(updatedA)
    : new Date(a.frontmatter.publishDate);
  const dateB = updatedB
    ? new Date(updatedB)
    : new Date(b.frontmatter.publishDate);

  return dateB.valueOf() - dateA.valueOf();
});
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <div class="flex flex-col justify-start min-h-screen">
      <PageHeader />
      <div class="flex-1 max-w-prose mx-auto px-2 pb-8">
        <main class="">
          <!-- below the site header, specific to this page -->

          <section
            aria-label="Blog post list"
            class="flex flex-col items-start gap-y-8"
          >
            {
              posts.map(({ url, frontmatter }) => (
                <BlogPostPreview
                  title={frontmatter.title}
                  description={frontmatter.description}
                  publishDate={frontmatter.publishDate}
                  updatedDates={frontmatter.updatedDates}
                  url={url}
                />
              ))
            }
          </section>
        </main>
      </div>
      <Footer />
    </div>
  </body>
</html>
