---
export interface BlogPostPreviewProps {
	title: string;
	description: string;
	publishDate: string;
	updatedDates: string[];
	url: string;
}

const { title, description, updatedDates, publishDate, url } = Astro.props as BlogPostPreviewProps;

const latestUpdateIfAvailable = updatedDates?.[0];

---

<article class="post-preview">
	<header>
		<a class="hover:underline" href={url}>
			<h1 class="text-2xl font-bold">{title}</h1>
		</a>
		<p class="text-base text-white">{description}</p>
		{latestUpdateIfAvailable ? <div>
			<p class="text-xs">updated: <time>{latestUpdateIfAvailable}</time></p>
			<p  class="text-xs">published: <time>{publishDate}</time></p>
		</div> : <p class="text-xs"><time>{publishDate}</time></p>}
	</header>


</article>
